.ipcache
.run
.Xil
*.out
venv
.vscode
host_aurora_hls_test
ip_creation*
aurora_hls_0_project*
aurora_hls_1_project*
rtl/aurora_hls_0.v
rtl/aurora_hls_1.v
rtl/aurora_hls_define.v
*.xo
*.xclbin
*.xclbin.info
*.xclbin.link_summary
*.jou
*.log
*.xo.compile_summary
_x*
*.dat
*.pb
xsim.dir
*.str
*.xml
*.ltx
*.csv
!eval/latency_tests.csv
!eval/data.csv
eval/.ipynb_checkpoints
*.protoinst
*.wdb
*.wcfg
build
