.ipcache
.run
.Xil
*.out
venv
.vscode
host_aurora_flow_test
host_aurora_flow_ring
ip_creation*
aurora_flow_0_project*
aurora_flow_1_project*
rtl/aurora_flow_0.v
rtl/aurora_flow_1.v
rtl/aurora_flow_define.v
*.xo
*.xclbin
*.xclbin.info
*.xclbin.link_summary
*.jou
*.log
*.xo.compile_summary
_x*
*.dat
*.pb
xsim.dir
*.str
*.xml
*.ltx
*.csv
!eval/*.csv
eval/*.pdf
eval/.ipynb_checkpoints
*.protoinst
*.vcd
*.wdb
*.wcfg
build
scripts/run_ring_n*.sh
